
@{
    ViewBag.Title = "_InactiveNavbar";
    Layout = null;
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#eevie-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onclick="@("window.location.href='" + @Url.Action("UserHome", "Home") + "'");">EEVIE LOGO</a>
        </div>
        <div id="eevie-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" onclick="@("window.location.href='" + @Url.Action("UserHome", "Home") + "'");">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </li>
                <li>
                    <a href="#" onclick="@("window.location.href='" + @Url.Action("Signin", "Signin") + "'");">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav><!--Nav Bar-->

